.okvir{
    width:900px;
    height:650px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    border-radius: 25px;
    padding:10px;
    position:relative;
    background-color: rgb(248, 156, 17);

}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgb(252, 197, 115);
}
footer{
    text-align: center;
} 
input[type="text"]{
    border-radius: 15px;
    border:none;
    padding:5px;
    font-size:auto;
    background-color: rgb(252, 197, 115);
    width:300px;
}
input[type="submit"]{
    border-radius: 15px;
    border:none;
    padding:5px;
    font-size:auto;
    background-color: rgb(252, 197, 115);
    width:200px;
    cursor:pointer; 
}
.po{
    position:relative;
}
input[type="submit"]:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}
#prva_strana_prijava{
    text-align:center;
    margin-top:100px;
}
.pitanja{
    width:850px;
    height:500px;
    background-color:white;
    position: absolute;  
    margin:0 auto;  
}
img{
    position:relative;
    left:35%;
    display:block;
}
.odgovor{
    position:absolute;
    font-size: 20px;
    bottom:0px;  
    
}
#poruka_o_korisniku{
    position:fixed;
    right:0px;
    width:200px;
    color:red;
}
 